# 项目忽略规则
# 构建相关的目录
/dist/
/build/

# Python缓存文件
/__pycache__/
*.pyc
*.pyo
*.pyd

# 日志文件夹
/logs/

# PyInstaller生成的文件
*.spec
*.manifest
*.toc

# IDE配置（如果你使用IDE的话）
.vscode/
.idea/

# Windows系统文件
Thumbs.db
desktop.ini

# 临时文件
*.log
*.tmp